<nav class="sidenav" style="max-width: 170px;">
    <a href="/coachHome">Home</a>
    <button class="dropdown-btn">
      Roster<i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="/coach/roster">Player Bio</a>
      <a href="/depthChart">Depth Chart</a>
    </div>
    <button class="dropdown-btn">Game<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-container">
      <a href="/coach/gameStats">Game Stats</a>
      <a href="#">Game Grade</a>
      <a href="#">Analysis</a>
    </div>
    <button class="dropdown-btn">
      Practice<i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="/coach/submitIntangibles">Submit Intangibles</a>
      <a href="/coach/practiceStats">In Season</a>
      <a href="/coach/practiceTrainingStats">Training</a>
    </div>
    <a href="/coach/playerFeedback">Player Feedback</a>
    <a href="#">Comparison</a>
</nav>