<!-- Side navigation bar that is used in all pages, saved in a partial for consistancy across pages -->
<!-- Not used for player -->
<nav class="sidenav" style="max-width: 170px;">
    <a href="/coachHome">Home</a>
    <button class="dropdown-btn">
      Roster<i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="/coach/roster">Player Bio</a>
      <a href="/depthChart">Depth Chart</a>
    </div>
    <button class="dropdown-btn">Game<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-container">
      <a href="/coach/gameStats">Game Stats</a>
      <a href="/coach/gameGrade">Game Grade</a>
      <a href="#">Analysis</a>
    </div>
    <button class="dropdown-btn">
      Grading<i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="/coach/submitIntangibles">Submit Intangibles</a>
      <a href="/coach/practiceStats">In Season</a>
      <a href="/coach/practiceTrainingStats">Training</a>
    </div>
    <button class="dropdown-btn">
      Player Results<i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="/coach/playerFeedback">Quiz</a>
      <a href="#">Training</a>
    </div>
    <a href="/coach/playerComp">Player Comparison</a>
</nav>