<!-- Side navigation bar that is used in all player pages, saved in a partial for consistancy across pages -->
<ul class="nav flex-column sidenav" style="margin-top: 3.4rem !important; font-size: 18px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 200;" id="sidenavAccordion">
    <li class="nav-item">
      <a class="nav-link" href="/playerHome">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/player/playerGrades">My Grades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/player/playerTrends">Max Trends</a>
    </li>
</ul>