<!-- Top navigation bar saved in its own partial so it can be used everywhere and maintains consistency -->
<nav class="topnav" id="myTopnav">
    <a href="javascript:void(0);" class="icon threeLines" onclick="resizeDropdown2()">
      <i class="fa fa-bars"></i>
    </a>
    <div class="topnavChild1" id="logo">
      <img src="images/coachToolsLogo.png" alt="CoachTools" style="width: 110px;"/>
    </div>
    <div class="topnavChild2">
      <!-- <span class="dateDisp" id="datetime"></span> -->
      <a style="color: #818181;" id="datetime"></a>
      <a style="color: #818181;"><%= name %></a>
      <a class="logout" onclick="window.location.href='/users/logout'">Logout</a>
    </div>
 </nav>