<div style="padding-top: 56px; overflow-x: visible;">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" style="padding-top:0; padding-bottom:0" href="#"><img src="images/coachtoolsLogoBlack.png" alt="CoachTools" style="width: 110px;"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 400">
            <li class="nav-item logOut">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active logOut">
              <a class="nav-link" href="/aboutUs">About Us<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item logOut">
              <a class="nav-link" href="/contactUs">Contact Us</a>
            </li>
            <li class="nav-item logOut">
              <a class="nav-link" href="/users/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- container -->
    <div class="container" style="align-items: center;">
      <div class="row">
        <div class="col-md-12 mb-3 mt-5">
          <h2 style="text-align: center;"><strong>About Us</strong></h2>
          <hr style="border-top: 2px solid black;">
        </div>
      </div>
      <div style="text-align: center;">
        <div class="row"><div class="col-md-12"><h3>Justin Titchenell</h3></div></div>
        <div class="row"><div class="col-md-12 mt-3 mb-3"><img class="img-fluid" src="images/justinHeadshot.png" alt="Titchenell"></div></div>
        <div class="row"><div class="col-md-12"><h4>Founder & President</h4></div></div>
        <div class="row"><p>Titchenell is a driven and passionate student-athlete at Gettysburg College. He is set to graduate in May 2021 with a degree in Organization and Management Studies and Business. Off the field, he is a career-long football player and has held executive board positions at his fraternity, Sigma Alpha Epsilon, for two years. His management acumen coupled with a yearning passion for the game of football has led him to create the CoachTools platform. Conscientiousness, positive attitude, and exemplary ambition are demonstrated qualities that have been displayed in his experience at BVTLive! and his consistent success as a student at an academically challenging institution. </p></div>
        <div class="row"><p>Titchenell wants to help bring the most out of players by providing coaches with tools to see exactly where their players need to improve. "Once a coach can pinpoint program weaknesses, they can leverage that information to position themselves in better opportunities to win", Titchenell explains. </p></div>

        <div class="row"><div class="col-md-12 mt-5"><h3>Matthew Szczesny</h3></div></div>
        <div class="row"><div class="col-md-12 mt-3 mb-3"><img class="img-fluid" src="images/mattHeadshot.png" alt="Szczesny"></div></div>
        <div class="row"><div class="col-md-12"><h4>Partner & Co-Founder</h4></div></div>
        <div class="row"><p>Matthew Szczesny will receive a degree in Mathematical Economics upon graduation from Gettysburg College in May 2021.  During his college tenure, he was an exceptional leader on and off the field for the college's baseball team.  Numbers and analytics always interested him.  CoachTools offers the unique opportunity to couple the two interests of sports and analytics into one platform.  Szczesny states, "I have always wanted to do something that inspired me to improve my craft each day.  CoachTools is the perfect opportunity."</p></div>

        <div class="row"><div class="col-md-12 mt-5"><h3>Jack Volker</h3></div></div>
        <div class="row"><div class="col-md-12 mt-3 mb-3"><img class="img-fluid" src="images/jackHeadshot.png" alt="Volker"></div></div>
        <div class="row"><div class="col-md-12"><h4>Partner & Director of Marketing</h4></div></div>
        <div class="row"><p>Jack Volker is a senior football player at Gettysburg College where he studies economics & business, while serving as the president of his fraternity. He stated, "I spent an entire season of my collegiate career as a student-coach. I understand that player evaluation is crucial for the success of any team. When Justin pitched his idea to me and asked me to be a part of it, I felt that I didn't have a choice. I am fully confident that CoachTools is going to be something special."</p></div>
        <div class="row"><div class="col-md-12 mb-3"><p>Volker is a partner of CoachTools and serves as the Director of Marketing, who manages social media platforms and assists with business operations. </p></div></div>
      </div>
    </div>
    <!-- /.container -->
  
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; CoachTools LLC 2021</p>
      </div>
      <!-- /.container -->
    </footer>
  
    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  </div>