<div class="topnav">
  <img
    src="images/coachToolsLogo.png"
    alt="CoachTools"
    style="display: inline; width: 120px; padding-left: 30px"
  />
  <div class="end">
    <button class="top-dropdown-btn">
      <!-- padding-left: 69%;  -->
      <%= name %>
    </button>

    <button
      class="top-dropdown-btn"
      onclick="window.location.href='/users/login'"
    >
      Logout
    </button>
  </div>
</div>
<!-- Side navigation -->
<!-- <div id="nav-placeholder"></div> -->
<div class="sidenav">
  <a href="/coachHome">Home</a>
  <button class="dropdown-btn">Roster<i class="fa fa-caret-down"></i></button>
  <div class="dropdown-container">
    <a href="/roster">Player Bio</a>
    <a href="#">Depth Chart</a>
  </div>
  <button class="dropdown-btn">Game<i class="fa fa-caret-down"></i></button>
  <div class="dropdown-container">
    <a href="#">Game Stats</a>
    <a href="#">Game Grade</a>
    <a href="#">Analysis</a>
  </div>
  <button class="dropdown-btn">Practice<i class="fa fa-caret-down"></i></button>
  <div class="dropdown-container">
    <a href="#">In Season</a>
    <a href="#">Training</a>
  </div>
  <a href="#">Player Feedback</a>
  <a href="#">Comparison</a>
</div>
<div class="main">
  <div class="row">
    <div class="btn-group" style="padding: 10px">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
      >
        Team
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" onclick="offFunc()">Offense</a>
        <a class="dropdown-item" onclick="defFunc()">Defense</a>
        <a class="dropdown-item" onclick="specFunc()">Special Teams</a>
      </div>
    </div>
  </div>
  <div class="pitch row">
    <span class="help">Offense</span>
    <ol id="offense" class="container">
      <li onclick="showSubs('sWR')">
        <span class="number">2</span>
        <span class="name">Walker WR</span>
      </li>
      <li onclick="showSubs('sWR')">
        <span class="number">5</span>
        <span class="name">Cahill WR</span>
      </li>
      <li onclick="showSubs('sRB')">
        <span class="number">6</span>
        <span class="name">Stones RB</span>
      </li>
      <li>
        <span class="number">3</span>
        <span class="name">Rose LT</span>
      </li>
      <li>
        <span class="number">8</span>
        <span class="name">Henderson LG</span>
      </li>
      <li>
        <span class="number">4</span>
        <span class="name">Dier C</span>
      </li>
      <li>
        <span class="number">10</span>
        <span class="name">Rooney RG</span>
      </li>
      <li>
        <span class="number">7</span>
        <span class="name">Sterling RT</span>
      </li>
      <li>
        <span class="number">9</span>
        <span class="name">Kane TE</span>
      </li>
      <li onclick="showSubs('sWR')">
        <span class="number">11</span>
        <span class="name">Lallana WR</span>
      </li>
    </ol>
    <ul id="qb" class="container">
      <li onclick="showSubs('sQB')">
        <span class="number">1</span>
        <span class="name" id="QB" name="QB">Hart QB</span>
      </li>
    </ul>
  </div>
  <div id="sQB" class="bench row">
    <span class="help">QB Subs</span>
    <ul id="Qsubs" class="container">
      <li onclick="showSubs('sQB')">
        <span class="number">12</span>
        <span class="name">QB 1</span>
      </li>
      <li onclick="showSubs('sQB')">
        <span class="number">13</span>
        <span class="name">QB 2</span>
      </li>
      <li onclick="showSubs('sQB')">
        <span class="number">14</span>
        <span class="name">QB 3</span>
      </li>
      <li onclick="showSubs('sQB')">
        <span class="number">15</span>
        <span class="name">QB 4</span>
      </li>
    </ul>
  </div>
  <div id="sRB" class="bench row">
    <span class="help">RB Subs</span>
    <ul id="RBsubs" class="container">
      <li onclick="showSubs('sRB')">
        <span class="number">12</span>
        <span class="name">RB 1</span>
      </li>
      <li onclick="showSubs('sRB')">
        <span class="number">13</span>
        <span class="name">RB 2</span>
      </li>
      <li onclick="showSubs('sRB')">
        <span class="number">14</span>
        <span class="name">RB 3</span>
      </li>
      <li onclick="showSubs('sRB')">
        <span class="number">15</span>
        <span class="name">RB 4</span>
      </li>
      <li onclick="showSubs('sRB')">
        <span class="number">16</span>
        <span class="name">RB 5</span>
      </li>
    </ul>
  </div>
  <div id="sWR" class="bench row">
    <span class="help">WR Subs</span>
    <ul id="subs" class="container">
      <li onclick="showSubs('sWR')">
        <span class="number">12</span>
        <span class="name">WR 1</span>
      </li>
      <li onclick="showSubs('sWR')">
        <span class="number">13</span>
        <span class="name">WR 2</span>
      </li>
      <li onclick="showSubs('sWR')">
        <span class="number">14</span>
        <span class="name">WR 3</span>
      </li>
      <li onclick="showSubs('sWR')">
        <span class="number">15</span>
        <span class="name">WR 4</span>
      </li>
      <li onclick="showSubs('sWR')">
        <span class="number">16</span>
        <span class="name">WR 5</span>
      </li>
      <li onclick="showSubs('sWR')">
        <span class="number">18</span>
        <span class="name">WR 6</span>
      </li>
    </ul>
  </div>
</div>
<!-- </body> -->
<script>
  var drake = dragula({
    containers: [
      document.querySelector("#qb"),
      document.querySelector("#offense"),
      document.querySelector("#defence"),
      document.querySelector("#midfield"),
      document.querySelector("#attack"),
      document.querySelector("#subs"),
      document.querySelector("#Qsubs"),
      document.querySelector("#RBsubs"),
    ],
    revertOnSpill: true,
    mirrorContainer: document.body,
    ignoreInputTextSelection: true,
  });

  // validation
  drake.on("drop", function (el, target, source, sibling) {
    // max 11 players
    if (
      target.id !== "subs" &&
      document.querySelectorAll(".pitch li").length > 11
    ) {
      drake.cancel();
    }

    // 1 goalkeeper
    if (target.id === "qb" && target.children.length > 1) {
      drake.cancel();
    }

    // 10 linemen
    if (target.id === "offense" && target.children.length > 10) {
      drake.cancel();
    }
  });

  // $(function(){
  //     $("#nav-placeholder").load("navBars/nav.html");
  // });

  document.addEventListener(
    "DOMContentLoaded",
    function () {
      //alert("Ready!");
      hideSubs();
    },
    false
  );

  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
</script>
