<!-- CoachHome - developed by Kayl Murdough -->
<style>
  @media all and (min-width: 600px) {
    .bodyContainer {flex: 2 0px;}
    .sidenav {order: 1;}
    .chBody {order: 2;}
  }
</style>
<div class="bigContainer">
  <!-- Includes topnav -->
  <%- include("partials/topnav") %>
  <div class="bodyContainer">
    <!-- Includes Side navigation -->
    <%- include("partials/sidenav") %>
    <div class="chBody">
      <img src="images/calendarBasic.jpg" alt="calendar">
    </div>
  </div>
</div>
<script>
  
</script>

 