<div style="padding-top: 56px; overflow-x: visible;">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" style="padding-top:0; padding-bottom:0" href="#"><img src="images/coachtoolsLogoBlack.png" alt="CoachTools" style="width: 150px;"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="font-family: Arial, Helvetica, sans-serif;" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutUs">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactUs">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="py-5 mb-5">
        <div class="container h-100">
            <div class="row">
                <div class="col-md-12 mb-3">
                  <h2 style="text-align: center;"><strong>Contact Us</strong></h2>
                  <hr style="border-top: 2px solid black;">
                </div>
              </div>
          <div class="row h-100 align-items-center">
            <div class="col-sm-6" style="text-align: center;"> <!-- verdana fine-->
              <h3 class="mt-3 mb-2">Email:</h3>
              <h3 class="mb-5"><a href="justin@thecoachtools.net">justin@thecoachtools.net</a></h3>
              <h3 class="mt-3 mb-2">Phone: </h3>
              <h3 class="mb-2">484-843-4902</h3>
            </div>
            <div class="col-sm-6" style="text-align: left;">
              <div class="pl-3">
              <h3 class="mt-3 mb-2"><a href="https://www.instagram.com/coachtools_/"><img src="images/instagram32px.png" alt="Insta"></a>  @coachtools_</h3>
              <h3 class="mb-2"><a href="https://www.twitter.com/coachtools__/"><img src="images/twitter.png" alt="Twitter"></a>  @coachtools__</h3>
              <h3 class="mt-3 mb-2"><a href="https://www.linkedin.com/company/coach-tools-sports/"><img src="images/linkedin.png" alt="LinkedIn"></a>  CoachTools</h3>
              <h3 class="mb-2"><a href="#"><img src="images/facebook.png" alt="Facebook"></a>  CoachTools Facebook</h3>
              </div>
            </div>
          </div>
        </div>
      </header>
  
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container text-center">
        <p class="text-white">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <p class="m-0 text-center text-white">Copyright &copy; CoachTools LLC 2021</p>
      </div>
      <!-- /.container -->
    </footer>
  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </div>