<h1>Cookies Policy</h1>

<h3>Date of Last Revision: March, 2021</h3>

<h4>
At Coach Tools we respect your concerns about privacy and value the relationship that we have with you. This Cookies Notice (the "Notice") explains how Coach Tools (“Coach Tools,” “we,” “us,” or “our”) uses cookies and other similar technology to recognize you when you use our website or other online or mobile service (the "Site"). It explains what these technologies are and why we use them, as well as your rights to control our use of them.
This Notice explains:
What are Cookies?
Types of Information Collected and Reasons for Collection.
Types of Cookies We Use.
Duration of Storage of Cookies on Your Device.
Cookie Management.
Consequences of Deactivation of all Cookies.
Changes to the Cookies Notice.
Contact Us.
What are Cookies?
Cookies are small text files that are placed on your computer or mobile device when you visit a site, that enable us to, among other things,: (i) recognize your computer; (ii) store your preferences and settings; (iii) understand the web pages of the Site you have visited; (iv) enhance your user experience by delivering and measuring the effectiveness of content and advertising tailored to your interests; (v) perform searches and analytics; and (vi) assist with security and administrative functions. They are then returned to the original website on each subsequent visit or to any other website that recognizes them. For more information on cookies, some helpful further information may be found at www.allaboutcookies.org.

The term "Cookie" is used in this Notice in the broad sense to include all similar techniques and technology, including web beacons, tracking pixels, and log files. For more information on these additional tools, see our glossary below.



Types of Information Collected and Reasons for Collection
Cookies help us to better understand your expectations of our Site and, as a result, allow us, among other strategies, to offer our visitors a pleasant and sustainable experience. Here are examples of the types of information that we collect through Cookies:
The number of users visiting the Coach Tools Site, the frequency with which the Site was viewed, the pages viewed, the clicks made on the Site and the total duration of navigation on the Site;
The name of the website visited prior to visiting the Coach Tools Site;
Whether you are visiting our Site for the first time or not;
Your viewing preferences (e.g. layout, sizing preferences, language etc.);
Your purchases and your orders; and
Your user name, your password, the type of browser used and your IP address, so that we can identify you during your next visits.



In addition, Cookies allow us to do the following:
Customize your visit: We may use information collected during your visit to facilitate your next visit to our Site;
Customize the advertising and marketing messages that appear on the Site, whether ours or those of third parties; and
Analyze customer trends: We compile information on individual Site visits and analyze them as a whole in aggregated form.
Type of Cookies We Use
We use first-party and third-party Cookies for several reasons. Some Cookies are required for technical reasons in order for our Site to operate, and we refer to these as "essential" or "strictly necessary" Cookies. Other Cookies enable us to track and target the interests of our users and to enhance the experience on our Site. Third parties also serve Cookies through our Site for advertising, analytics and other purposes. The specific types of first and third party Cookies served through our Site and the purposes they perform are described in more detail below.



First-party Cookies
These cookies are created by Coach Tools. They are, for the most part, used to allow you to browse our Site and use its features. First-party cookies include:
Essential Website Cookies: These Cookies are strictly necessary to provide you with services available through our Site and to use some of its features, such as access to secure areas.



Functional Cookies: These Cookies allow you to browse our Site or benefit from some of its features, such as memorizing language preferences or placing orders online.



Analytics Cookies: These Cookies allow us to collect statistics (aggregated and anonymous) on the usage of the Site by you and other visitors. This information helps us improve the features offered on its Site.



Third-party Cookies
In addition to our proprietary Cookies, some third-party and affiliated companies may place Cookies on your computer, access them and associate web beacons with them. These Cookies enable third-party features or functionalities to be provided on or through the Site. The parties that set these third-party Cookies can recognize your device both when it visits our Site and also when it visits certain other websites. Third-party cookies include:
Functional Cookies: These Cookies are defined by third parties who support our Site and they allow you to use useful services and features, such as instant messaging support.



Online Behavioral Advertising Cookies: These Cookies are defined by our advertising partners and collect data about your browsing habits, as well as your preferences for products and services. This information allows Coach Tools and the ad networks that we work with to display relevant ads on the most relevant pages of partner sites and the Coach Tools Site, if advertisements are served on the Site. For example, third parties or affiliates may manage Coach Tools advertising programs on a non-Coach Tools site.
Duration of Storage of Cookies on Your Device
The duration of storage of Cookies on your device may vary, depending on the category to which they belong: temporary or permanent.



Temporary Cookies
We use temporary Cookies on all of our secure pages to assign and register a session ID. This identifier is also used for internal reporting purposes. It does not allow us to identify you personally by name and this type of Cookie does not leave any information recoverable on your hard drive. Most of our proprietary Cookies fall into this category and expire when you close your Internet browser.



​Permanent Cookies
Our first-party Cookies and third-party Cookies are permanent Cookies. They allow us to understand visitors' browsing behavior over a longer period of time or to provide you with additional features related to your Site customization requests and the content that you have saved or stored. They can stay on your computer for 24 hours, a week or several years, depending on their function. This means that these Cookies survive after your browser is closed and can be used by our Site to recognize your computer when you re-open your browser later.
Cookie Management
We only place Cookies on your device after you give us permission. If you do not want to receive some of the categories of Cookies used on our Site, you can use the means described below to disable them. Note, however, that we will still need to set a Cookie on your device to remember your preferences when you visit our Site again from a single browser.
At the moment, it is technically impossible for you to synchronize your settings between your browsers and your devices (your computer or your smartphone). You must set them on each browser/device that you currently use and each time you use a new browser or device.
You can decide whether to accept or reject Cookies. You can exercise your Cookie preferences by managing Cookies from your web browser. As the means by which to activate or deactivate Cookies varies from one web browser to another, you should visit your web browser's help menu for more information on Cookie preferences. You can also configure your browser at any time to be notified of the receipt of a Cookie, so that you can decide whether you want to accept it or not. Cookies do not under any circumstances read the data from your hard drive and you can delete them from your computer at any time. You can also manage the use of Flash technologies, including flash cookies and local storage objects with the Flash management tools available at Adobe's website.
In addition, most advertising networks offer you a way to opt out of targeted advertising. If you would like to find out more information, please visit http://www.aboutads.info/choices/ or http://www.youronlinechoices.com.
Consequences of Deactivation of all Cookies
If you choose to deactivate all Cookies, you may continue to use certain parts of our Site. However, some useful features may not work anymore.
Please note that if you have disabled one or more Cookies, we may continue to use the information that was collected by such Cookies before they were deactivated. However, we will cease to collect any information via the opted-out Cookie once a Cookie has been deactivated.
Changes to the Cookies Notice
This Notice may be revised occasionally and in accordance with legal requirements. Any changes made will be reflected on this Site. This Notice is specific to Coach Tools’ operations and applies to information that you provide online, as well as other means. Please re-visit this Cookie Notice regularly to stay informed about our use of Cookies. If you have any questions, please contact us as explained below.
Contact Us
If you have questions about the use of Cookies on our Site, do not hesitate to contact us by email at: support@coachtoolsllc.com. You will also find more general information about the types of personal data we collect about you and how you may exercise your data privacy rights in our Privacy Policy.
Glossary
Cookies are text files that contain information and are downloaded to your computer or mobile device when you visit a website. They are then returned to the original website each subsequent visit or to any other website that recognizes them.
Log files are Web server files (storing information such as domain names or IP addresses, URLs, the http response code, the website from which you access ours and/or the date and length of your visit) that are created automatically when a user visits a site.
Some pages of our website contain web beacons (also known as "Internet beacons," "web beacons" or "invisible GIFs"). A web beacon is an electronic image usually composed of a single pixel. It can be placed on a web page or in an email to transmit information, including personal data such as the IP address of the computer that downloaded the page in question, the URL of the page, the time of consultation of the page and the type of browser used, as well as the data contained in the cookies sent by a third party.


</h4>