<style>
    @media all and (min-width: 600px) {
      .bodyContainer {
        flex: 2 0px;
      }
      .sidenav {
        order: 1;
      }
      .rBody {
        order: 2;
      }
    }
    .container { 
            display: flex; 
    }
    table.redTable {
    border: 2px solid #a40808;
    background-color: #eee7db;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.redTable td,
  table.redTable th {
    border: 1px solid #aaaaaa;
    padding: 3px 2px;
  }
  table.redTable tbody td {
    font-size: 13px;
    text-align: center;
  }
  table.redTable tr:nth-child(even) {
    background: #f5c8bf;
  }
  table.redTable thead {
    background: #a40808;
  }
  table.redTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    border-left: 2px solid #a40808;
  }
  table.redTable thead th:first-child {
    border-left: none;
  }

  table.redTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    background: #a40808;
  }
  table.redTable tfoot td {
    font-size: 13px;
    text-align: center;
  }
  table.redTable tfoot .links {
    text-align: right;
  }
  table.redTable tfoot .links a {
    display: inline-block;
    background: #ffffff;
    color: #a40808;
    padding: 2px 8px;
    border-radius: 5px;
  }
</style>
<div class="bigContainer">
    <%- include("partials/topnav") %>
    <div class="bodyContainer">
        <%- include("partials/sidenav") %>
        <div class="rBody">
          <div class="container"> 
            <div class="redTable" id="viewTable" border="1">
                <table class="redTable" id="viewTable" border="1">
                    <thead>
                      <tr>
                        <th style="font-size:40px;">Player Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="font-size:40px;">Last Practice Grade</td>
                      </tr>
                      <tr>
                        <td style="font-size:40px;">Last Game Grade</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div>
              <table class="redTable" id="viewTable" border="1">
                <thead>
                  <tr>
                    <th style="font-size:40px;">Player Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="font-size:40px;">Last Practice Grade</td>
                  </tr>
                  <tr>
                    <td style="font-size:40px;">Last Game Grade</td>
                  </tr>
                </tbody>
              </table>
            </div> 
          </div> 
        </div>
    </div>
</div>