<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h3><a href="depthChart">Back</a></h3>
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Offensive Line Assignment</h1>
        <%- include('./partials/messages'); %>
        <h3>Choose Players for</h3>
        <form action="/coach/fullUpdatePos" method="POST">

            <select name="pos" id="pos" class="btn btn-primary dropdown-toggle mt-4 mb-5">
              <% for(var i = 0; i < positions.length; i++) { %>
              <option value="<%- positions[i] %>"><%= positions[i] %></option>
              <% } %>
            </select>

            <label for="name1">Choose a Player:</label>
            <input list="players" name="name1" id="name1">
            <datalist id="players">
              <% for(var i = 0; i < players.length; i++) { %>
              <option value="<%- players[i].FullName %>">
              <% } %>
            </datalist>
            <!-- <button style="display: inline-block;" onclick="addPlayer()">Add Player</button> -->
            <br>
            <!-- Current selected players: <span value="" id="playerList"></span> -->

          <button type="submit" class="btn btn-primary btn-block">Submit Position Assignment</button>
        </form>
        <p class="lead mt-4">
          Done? <a href="/depthChart">Home Page</a>
        </p>
      </div>
    </div>
  </div>