<style>
  @media all and (min-width: 600px) {
    .bodyContainer {
      flex: 2 0px;
    }
    .sidenav {
      order: 1;
    }
    .rBody {
      order: 2;
    }
  }
</style>
<div class="bigContainer">
  <nav class="topnav" id="myTopnav">
    <a
      href="javascript:void(0);"
      class="icon threeLines"
      onclick="resizeDropdown2()"
    >
      <i class="fa fa-bars"></i>
    </a>
    <div class="topnavChild1" id="logo">
      <img
        src="images/coachToolsLogo.png"
        alt="CoachTools"
        style="width: 110px"
      />
    </div>
    <div class="topnavChild2">
      <!-- <span class="dateDisp" id="datetime"></span> -->
      <a style="color: #818181" id="datetime"></a>
      <a style="color: #818181"><%= name %></a>
      <!--style="padding-left: 75%;"-->
      <a class="logout" onclick="window.location.href='/users/logout'"
        >Logout</a
      >
    </div>
  </nav>
  <div class="bodyContainer">
    <!-- Side navigation -->
    <!-- <div id="nav-placeholder"></div> -->
    <nav class="sidenav" style="max-width: 170px">
      <a href="/coachHome">Home</a>
      <button class="dropdown-btn">
        Roster<i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/roster">Player Bio</a>
        <a href="/depthChart">Depth Chart</a>
      </div>
      <button class="dropdown-btn">Game<i class="fa fa-caret-down"></i></button>
      <div class="dropdown-container">
        <a href="/coach/gameStats">Game Stats</a>
        <a href="#">Game Grade</a>
        <a href="#">Analysis</a>
      </div>
      <button class="dropdown-btn">
        Practice<i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/coach/submitIntangibles">Submit Intangibles</a>
        <a href="/coach/practiceStats">In Season</a>
        <a href="/coach/practiceTrainingStats">Training</a>
      </div>
      <a href="/coach/playerFeedback">Player Feedback</a>
      <a href="#">Comparison</a>
    </nav>

    <div class="rBody">
      <div class="rosterRow">
        <!-- This is the upload excel roster button. -->
        <div>
          <form
            action="/coach/upload"
            method="POST"
            encType="multipart/form-data"
          >
            <input type="file" name="file" accept=".csv" />
          </form>
          <p>
            Click <a href="/coach/template">here</a> for an example template.
          </p>
        </div>
        <form action="/coach/upload" method="POST">
          <button type="button" class="btn btn-primary" style="background: red">
            What stats do you want to upload?
          </button>
          <div class="btn-group" role="group">
            <button
              id="btnGroupDrop1"
              type="button"
              style="background: red"
              class="btn btn-primary dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            ></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <button
                class="dropdown-item"
                type="submit"
                name="type"
                value="pass"
              >
                Upload Passing Stats
              </button>
              <button
                class="dropdown-item"
                type="submit"
                name="type"
                value="rush"
              >
                Upload Rushing Stats
              </button>
              <button
                class="dropdown-item"
                type="submit"
                name="type"
                value="wr"
              >
                Upload Wide Receiver/Tight End Stats
              </button>
              <button
                class="dropdown-item"
                type="submit"
                name="type"
                value="tack"
              >
                Upload Tackle Stats
              </button>
              <button
                class="dropdown-item"
                type="submit"
                name="type"
                value="sack"
              >
                Upload Sack Stats
              </button>
              <button
                class="dropdown-item"
                type="submit"
                name="type"
                value="pd"
              >
                Upload Pass Defense Stats
              </button>
              <button
                class="dropdown-item"
                type="submit"
                name="type"
                value="fum"
              >
                Upload Fumbles Stats
              </button>
              <button
                class="dropdown-item"
                type="submit"
                name="type"
                value="bk"
              >
                Upload Blocked Kick Stats
              </button>
            </div>
          </div>
        </form>
      </div>
      <form action="/coach/uploadStats" method="POST">
        <div class="dropdown" style="padding-left: 40%">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            style="background: red"
          >
            View Position
          </button>
          <div
            class="dropdown-menu"
            style="max-height: 200px; overflow: scroll"
            aria-labelledby="dropdownMenuButton"
          >
            <button class="dropdown-item" type="submit" href="#">
              Quarterbacks
            </button>
            <button class="dropdown-item" type="submit" href="#">
              Running Backs
            </button>
            <button class="dropdown-item" type="submit" href="#">
              Full Backs
            </button>
            <button class="dropdown-item" type="submit" href="#">
              Wide Receivers
            </button>
            <button class="dropdown-item" type="submit" href="#">
              Tight Ends
            </button>
            <button class="dropdown-item" type="submit" href="#">
              Outside Linebackers
            </button>
            <button class="dropdown-item" type="submit" href="#">
              Linebackers
            </button>
            <button class="dropdown-item" type="submit" href="#">
              Inside Linebackers
            </button>
            <button class="dropdown-item" type="submit" href="#">
              Defensive Tackles
            </button>
            <button class="dropdown-item" type="submit" href="#">
              Defensive Ends
            </button>
            <button class="dropdown-item" type="submit" href="#">
              Defensive Linemen
            </button>
            <button class="dropdown-item" type="submit" href="#">
              Offensive Linemen
            </button>
            <button class="dropdown-item" type="submit" href="#">
              Punters
            </button>
          </div>
        </div>
        <table class="table table-hover" style="padding: 500px">
          <thead>
            <tr class="table-dark">
              <th scope="col">Name</th>
              <th scope="col">Position</th>
              <th scope="col">Graduation Year</th>
              <th scope="col">Number</th>
            </tr>
          </thead>
        </table>
      </form>
    </div>
  </div>
</div>
<script>
  // $(function(){
  //     $("#nav-placeholder").load("navBars/nav.html");
  // });
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
</script>
