<style>
    @media all and (min-width: 600px) {
      .bodyContainer {
        flex: 2 0px;
      }
      .sidenav {
        order: 1;
      }
      .rBody {
        order: 2;
      }
    }
    .dropbtn {
      background-color: red;
      color: white;
      width: 25%;
      align-self: center;
      padding: 16px;
      font-size: 16px;
      border: none;
    }
  
    .dropdown {
      position: center;
      display: inline-block;
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
  
    .dropdown-content a:hover {
      background-color: #ddd;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    .dropdown:hover .dropbtn {
      background-color: #e71111;
    }
  </style>
  
  <div class="bigContainer">
    <%- include("partials/topnav") %>
    <div class="bodyContainer">
      <!-- Side navigation -->
      <%- include("partials/sidenav") %>
        <div class="rBody">
          <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Season Game Grades</h1>
          <div class="row mt-5">
            <div class="col-md-6 m-auto">
              <div class="card card-body">
                <div class='dropdown' style="text-align:center">
                  <form action="/stats/dispGameGrade" method="POST">
                      <h3>Select Position Group:</h3>
                      <select name="pos" id="pos" class="btn btn-primary dropdown-toggle mt-3">
                        <% for(var i = 0; i < positions.length; i++) { %>
                        <option value="<%- positions[i] %>"><%= positions[i] %></option>
                        <% } %>
                      </select>
                      <br><br>
                      <button type="submit" class="btn btn-primary btn-block">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;
  
    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }
  </script>