<!DOCTYPE html>
<html lang="en">
<head>
    <title>Node.js and Passport App</title>
</head>
<body>
    <div style="text-align: center">
        <h2>No Questionnaires to Display</h2>
    </div>
</body>
</html>