<style>
  .logOut:hover {
  background-color: rgb(58, 58, 58);
}
</style>
<div style="padding-top: 56px; overflow-x: visible;">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">  <!--  -->
  <div class="container">
    <a class="navbar-brand" style="padding-top:0; padding-bottom:0" href="/"><img src="../images/coachtoolsLogoBlack.png" alt="CoachTools" style="width: 110px;"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 400">
        <li class="nav-item logOut">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item logOut">
          <a class="nav-link" href="/aboutUs">About Us</a>
        </li>
        <li class="nav-item logOut">
          <a class="nav-link" href="/contactUs">Contact Us</a>
        </li>
        <li class="nav-item active logOut">
          <a class="nav-link" href="/users/login">Login<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center"> Login</h1>
        <%- include('./partials/messages'); %>
        <form action="/users/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <p class="lead mt-4">
          No Account? <a href="/users/register">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>