<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coach Tools</title>
    <link rel="stylesheet" href="../public/styles.css">
    <!-- header -->
    <div class="topnav">
      <img src="images/coachToolsLogo.png" alt="CoachTools" style="display:inline; width: 90px;">
      <div style="font-size: 25px; display: inline;">CoachTools</div>
      <button class="top-dropdown-btn"></button>
      <div style="font-size: 25px; display: inline; text-align: right"><span id="datetime"></span></div>
      <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (("0"+dt.getDate()).slice(-2)) +"/"+ (dt.getFullYear());
      </script>
      <div style="display: inline; text-align: right;">
        <button class="top-dropdown-btn" onclick="window.location.href='/users/logout'">Logout</button>
      </div>
    </div>
    <script>
      var dt = new Date();
      document.getElementById("datetime").innerHTML =
        ("0" + (dt.getMonth() + 1)).slice(-2) +
        "/" +
        ("0" + dt.getDate()).slice(-2) +
        "/" +
        dt.getFullYear();
    </script>
    <button class="top-dropdown-btn">
      <!-- padding-left: 69%;  -->
      <%= name %>
    </button>
    <button
      class="top-dropdown-btn"
      onclick="window.location.href='/users/logout'"
    >
      Logout
    </button>
  </div>
  <div class="bodyContainer">
    <!-- Side navigation -->
    <div class="sidenav">
      <a href="./playerHome">Home</a>
      <a href="./player/playerGrades">My Grades</a>
      <a href="./player/playerTrends">Max Trends</a>
    </div>
    <!-- Available Questionnaires -->
    <div class="bodyCode">
      <h3 style="color: black;">Available Questionnaires</h3>
      <!-- <div style="font-size: large;">Available Questionnaires</div> -->
      <div>
        <h4 style="padding-top: 60px; color: black">Meeting</h4>
        <!-- <div class="center">
            <iframe src="./viewQuestionnaire" height="300" width="550"></iframe>
           </div> -->
        <div id="qtest" class="">
          <a href="/viewQuestionnaire" class="btn btn-secondary"
            >View Questionnaire</a
          >
        </div>
      </div>
      <div>
        <h4 style="padding-top: 60px; color: black">
          Training
        </h4>
        <!-- <div class="center">
            <iframe src="./viewQuestionnaire" height="300" width="550"></iframe>
           </div> -->
      </div>
      <div>
        <h4 style="padding-top: 60px; color: black">
          Practice
        </h4>
        <!-- <div class="center">
            <iframe src="./viewQuestionnaire" height="300" width="550"></iframe>
           </div> -->
      </div>
    </div>
  </div>
</div>
<script>
  /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
  $(function () {
    $("#qtest").load("viewQuestionnaire.ejs");
  });
</script>
