<div class="bigContainer">
    <%- include("partials/topnav") %>
    <div class="bodyContainer">
        <%- include("partials/sidenav") %>
        <div class="rBody">
            <h2>Player Comparison Page</h2>
        </div>
    </div>
</div>