<style>
  @media all and (min-width: 600px) {
  .bodyContainer {flex: 2 0px;}
  .sidenav {order: 1;}
  .cardsK {order: 2;}
}
</style>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css"
/>
<div class="bigContainer">
  <!-- header -->
  <nav class="topnav" id="myTopnav">
    <a href="javascript:void(0);" class="icon threeLines" onclick="resizeDropdown2()">
      <i class="fa fa-bars"></i>
    </a>
    <div class="topnavChild1" id="logo">
      <img src="images/coachToolsLogo.png" alt="CoachTools" style="width: 110px;"/>
    </div>
    <div class="topnavChild2">
      <!-- <span class="dateDisp" id="datetime"></span> -->
      <a id="datetime"></a>
      <a ><%= name %></a>  <!--style="padding-left: 75%;"-->
      <a class="logout" onclick="window.location.href='/users/logout'">Logout</a>
    </div>
  </nav>
  <div class="bodyContainer">
    <!-- Side navigation  resizeDropdown2()--> 
    <nav class="sidenav" id="mySidenav">
      <a href="./playerHome">Home</a>
      <a href="/player/playerGrades">My Grades</a>
      <a href="/player/playerTrends">Max Trends</a>
    </nav>

    <ul class="cardsK">
      <li class="cards__itemK">
        <div class="cardK">
          <div class="card__image card__image--fence"></div>
          <div class="card__content">
            <div class="card__title">Meeting</div>
            <!-- <p class="card__text"></p> -->
            <a class="btn2 btn--block card__btn" href="/viewMQuestionnaire">View Meeting Questionnaire</a>
          </div>
        </div>
      </li>
      <li class="cards__itemK">
        <div class="cardK">
          <div class="card__image card__image--river"></div>
          <div class="card__content">
            <div class="card__title">Training</div>
            <!-- <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p> -->
            <a class="btn2 btn--block card__btn" href="/viewPQuestionnaire">View Training Questionnaire</a>
          </div>
        </div>
      </li>
      <li class="cards__itemK">
        <div class="cardK">
          <div class="card__image card__image--record"></div>
          <div class="card__content">
            <div class="card__title">Practice</div>
            <!-- <p class="card__text">This defines the ability for a flex item to shrink if necessary. Negative numbers are invalid.</p> -->
            <a class="btn2 btn--block card__btn" href="/viewTQuestionnaire">View Practice Questionnaire</a>
          </div>
        </div>
      </li>
    </ul>

    <!-- <div class="middleText">
      Hello World
    </div>

    <div class="rightText">
      Hello World 2
    </div> -->

  </div>
</div>
<script>
  /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
  // $(function () {
  //   $("#qtest").load("viewQuestionnaire.ejs");
  // });

  var util = {
  mobileMenu() {
    $("#nav").toggleClass("nav-visible");
  },
  windowResize() {
    if ($(window).width() > 800) {
      $("#nav").removeClass("nav-visible");
    }
  },
  scrollEvent() {
    var scrollPosition = $(document).scrollTop();
    
    $.each(util.scrollMenuIds, function(i) {
      var link = util.scrollMenuIds[i],
          container = $(link).attr("href"),
          containerOffset = $(container).offset().top,
          containerHeight = $(container).outerHeight(),
          containerBottom = containerOffset + containerHeight;

      if (scrollPosition < containerBottom - 20 && scrollPosition >= containerOffset - 20) {
        $(link).addClass("active");
      } else {
        $(link).removeClass("active");
      }
    });
  }
};

$(document).ready(function() {
  
  util.scrollMenuIds = $("a.nav-link[href]");
  $("#menu").click(util.mobileMenu);
  $(window).resize(util.windowResize);
  $(document).scroll(util.scrollEvent);
  
});

function resizeDropdown() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}

function resizeDropdown2() {
  var x = document.getElementById("mySidenav");
  if (x.className === "sidenav") {
    x.className += " responsive";
  } else {
    x.className = "sidenav";
  }
}
  var dt = new Date();
  document.getElementById("datetime").innerHTML =
    ("0" + (dt.getMonth() + 1)).slice(-2) +
    "/" +
    ("0" + dt.getDate()).slice(-2) +
    "/" +
    dt.getFullYear();
</script>


  <!-- <div class="topNavBody">
    <header id="nav-wrapper">
      <nav id="nav">
        <div class="nav left">
          <span class="gradient skew"><h1 class="logo un-skew"><a href="#home"><img
            src="images/coachToolsLogo.png"
            alt="CoachTools"
            style="display: inline; width: 150px; padding-left: 30px"
          /></a></h1></span>
          <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
        </div>
        <div class="nav right">
          <a href="#home" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
          <a href="#about" class="nav-link"><span class="nav-link-span"><span class="u-nav">About</span></span></a>
          <a href="#work" class="nav-link"><span class="nav-link-span"><span class="u-nav">Work</span></span></a>
          <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Contact</span></span></a>
        </div>
      </nav>
    </header>
  </div> -->