<style>
    @media all and (min-width: 600px) {
      .bodyContainer {
        flex: 2 0px;
      }
      .sidenav {
        order: 1;
      }
      .rBody {
        order: 2;
      }
    }
    .container { 
            display: flex; 
    }
    table.redTable {
    border: 2px solid #a40808;
    background-color: #eee7db;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.redTable td,
  table.redTable th {
    border: 1px solid #aaaaaa;
    padding: 3px 2px;
  }
  table.redTable tbody td {
    font-size: 13px;
    text-align: center;
  }
  table.redTable tr:nth-child(even) {
    background: #f5c8bf;
  }
  table.redTable thead {
    background: #a40808;
  }
  table.redTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    border-left: 2px solid #a40808;
  }
  table.redTable thead th:first-child {
    border-left: none;
  }

  table.redTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    background: #a40808;
  }
  table.redTable tfoot td {
    font-size: 13px;
    text-align: center;
  }
  table.redTable tfoot .links {
    text-align: right;
  }
  table.redTable tfoot .links a {
    display: inline-block;
    background: #ffffff;
    color: #a40808;
    padding: 2px 8px;
    border-radius: 5px;
  }
</style>
<div class="bigContainer">
  <%- include("partials/topnav") %>
  <div class="bodyContainer">
    <%- include("partials/sidenav") %>
    <div class="rBody">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Season Game Grades</h1>
      <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            <div class='dropdown' style="text-align:center">
              <form action="/coach/dispComp" method="POST">
                  <label for="name1">Choose a Player:</label>
                  <input list="players" name="name1" id="name1">
                  <datalist id="players">
                    <% for(var i = 0; i < players.length; i++) { %>
                    <option value="<%- players[i] %>">
                    <% } %>
                  </datalist>
                  <br><br>
                  <label for="name2">Choose a Player:</label>
                  <input list="players" name="name2" id="name2">
                  <datalist id="players">
                    <% for(var i = 0; i < players.length; i++) { %>
                    <option value="<%- players[i] %>">
                    <% } %>
                  </datalist>
                  <br><br>
                  <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </form>
            </div>
          </div> 
        </div> 
      </div>
    </div>
  </div>
</div>