<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Meeting Questionnaire Responses</h1>
          <h3>Table to show players and their questionnaire results</h3>
          <table style="width:100%">
            <tr>
              <th>Email</th>
              <th>Quiz Type</th> 
              <th>Score</th> 
              <th>Comment</th>
            </tr>
            <tr>
              <td>
                <%= email%>
              </td>
              <td>
                <%= type%>
              </td>
              <td>
                <%= score%>
              </td> 
              <td>
                <%= comment%>
              </td>
            </tr>
        </table>
      </div>
    </div>
</div>