<!DOCTYPE html>
<html>
  <head>
    <title>PDF Viewer PDF.js</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>

  <body>
    <div id="app">
      <div id="toolbar">
        <div id="pager">
          <button data-pager="prev">prev</button>
          <button data-pager="next">next</button>
        </div>
        <div id="page-mode">
          <label>Page Mode <input type="number" value="1" min="1"/></label>
        </div>
      </div>
      <div id="viewport" role="main"></div>
    </div>
    <script src="https://unpkg.com/pdfjs-dist@2.0.489/build/pdf.min.js"></script>
    <script>
      // Code for PDF Viewing
      let currentPageIndex = 0;
      let pdfInstance = null;
      let totalPagesCount = 0;

      window.initPDFViewer = function(pdfURL) {
        pdfjsLib.getDocument(pdfURL).then(pdf => {
          pdfInstance = pdf;
          totalPagesCount = pdf.numPages;
          initPager();
          render();
        });

        const viewport = document.querySelector("#viewport");

        function render() {
          pdfInstance.getPage(currentPageIndex + 1).then(page => {
            viewport.innerHTML = `<div><canvas></canvas></div>`;
            renderPage(page);
          });
        }

        function renderPage(page) {
          let pdfViewport = page.getViewport(1);

          const container = viewport.children[0];

          // Render at the page size scale.
          pdfViewport = page.getViewport(container.offsetWidth / pdfViewport.width);
          const canvas = container.children[0];
          const context = canvas.getContext("2d");
          canvas.height = pdfViewport.height;
          canvas.width = pdfViewport.width;

          page.render({
            canvasContext: context,
            viewport: pdfViewport
          });
        }

        function onPagerButtonsClick(event) {
          const action = event.target.getAttribute("data-pager");
          if (action === "prev") {
            if (currentPageIndex === 0) {
              return;
            }
            currentPageIndex -= pageMode;
            if (currentPageIndex < 0) {
              currentPageIndex = 0;
            }
            render();
          }
          if (action === "next") {
            if (currentPageIndex === totalPagesCount - 1) {
              return;
            }
            currentPageIndex += pageMode;
            if (currentPageIndex > totalPagesCount - 1) {
              currentPageIndex = totalPagesCount - 1;
            }
            render();
          }
        }
      };
    </script>
    <script>
       window.onload = () => {
    initPDFViewer("uploads/example.pdf");};
    </script>
  </body>
</html>
